@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}


	<div class="row row-cols-4 g-2">
		<div class="card-columns">
			@foreach (var product in Model.Products)
			{
					<div class="card-img" style="background: url('@product.Img')"></div>
					<div class="card-body">
					<h5>@product.Title</h5> 
					</div>
			}
	</div>
	</div>
